@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hind";
  src: url("assets/fonts/Hind-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@import "reset";
// @import "_reset.scss"; Equivalent

// --------------------------------

$primary: #11234A;
$secondary: #344154;
$light-grey: #F9F9F9;
$white: #DAE0EE;
$border-color: #BEC9DA;

.container {
  width: 1200px;
  margin: 0 auto;
}